/*Write your code here*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  margin: 0;
  min-height: 100vh;
}

img {
  height: 20rem;
  margin-bottom: 2rem;
}

button {
  font-size: 1.4rem;
  padding: 1rem 0.5rem;

  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  background: #330867;
  cursor: pointer;
  outline: none;
  width: 300px;

  color: white;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

p {
  margin-top: 80px;
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
}

a {
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  color: white;
}

.animated {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: .7s;
}

.a1 {
  animation-delay: .7s;
}

.a2 {
  animation-delay: .8s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
