// Write your code here

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  margin: 0;
  min-height: 100vh;
}

img {
  height: 20rem;
  margin-bottom: 2rem;
}

button {
  font-size: 1.4rem;
  padding: 1rem 0.5rem;

  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  background: #330867;
  cursor: pointer;
  outline: none;
  width: 300px;

  color: white;

  &:hover span {
    padding-right: 25px;

    &:after {
      opacity: 1;
      right: 0;
    }
  }

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
}

p {
  margin-top: 50px;
  color: white;
  font-size: 2rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: .5rem;
  border: 1px solid white;
}
